body { padding-right: 4px; padding-left: 4px; font-size: 12px; background: #fff; padding-bottom: 0px; margin: auto; width: 985px; color: #414141; padding-top: 0px; font-family: "ו", arial, helvetica, sans-serif }
.public_navi { background: url(../images/logo_bj_line.gif) no-repeat left bottom; line-height: 16px; padding-top: 10px; height: 55px }
.public_navi a:link { color: #0041d3; text-decoration: none }
.public_navi a:visited { color: #0041d3; text-decoration: none }
.public_navi a:hover { color: #ff7000; text-decoration: underline }
.public_navi a:active { color: #bc2931; text-decoration: underline }
.public_navi * { padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px }
.public_navi img { border-top-width: 0px; border-left-width: 0px; border-bottom-width: 0px; border-right-width: 0px }
.public_navi .newyear_img { float: left; width: 982px; height: 34px }
.public_navi .logo { float: left; width: 148px; height: 54px }
.public_navi .navi_part { float: left; width: 834px; border-bottom: #a1a1a1 1px solid; height: 54px }
.navi .navi_part .black_red { color: #e7010e }
.public_navi .navi_part .n_main { float: left; list-style-type: none; height: 31px }
.public_navi .navi_part .n_main li { font-size: 14px; background: url(../images/navi_m_1.jpg) no-repeat; float: left; width: 131px; height: 31px; text-align: center }
.public_navi .navi_part .n_main li a { display: block; font-size: 14px; width: 131px; padding-top: 10px; height: 21px }
.public_navi .navi_part .n_main li a:link { font-size: 14px; color: #fff; text-decoration: none }
.public_navi .navi_part .n_main li a:visited { color: #fff; text-decoration: none }
.public_navi .navi_part .n_main li a:hover { background: url(../images/navi_m_2.jpg) no-repeat; color: #fff }
.public_navi .navi_part .n_main .m_left { background: url(../images/navi_l_1.jpg) no-repeat }
.public_navi .navi_part .n_main .m_left a:hover { background: url(../images/navi_l_2.jpg) no-repeat }
.public_navi .navi_part .n_main .m_right { background: url(../images/navi_r_1.jpg) no-repeat }
.public_navi .navi_part .n_main .m_right a:hover { background: url(../images/navi_r_2.jpg) no-repeat }
.public_navi .navi_part .n_main .navi_gray { background: url(../images/navi_gray.jpg) no-repeat; padding-top: 10px; height: 21px }
.public_navi .navi_part .n_help { padding-right: 0px; display: block; padding-left: 19px; background: url(../images/p_gwc.gif) no-repeat 0px 10px; float: right; padding-bottom: 0px; padding-top: 10px; list-style-type: none; height: 15px }
.public_navi .navi_part .n_help li { padding-right: 10px; display: block; padding-left: 10px; background: url(../images/bj_line.gif) no-repeat right 2px; float: left; padding-bottom: 0px; padding-top: 2px; height: 12px }
.public_navi .navi_part .n_help .help_r { padding-right: 0px; background: none transparent scroll repeat 0% 0% }
.public_navi .navi_part .n_main2 { background: url(../images/navi2_right_my.gif) #eaeaea no-repeat right 50%; float: left; width: 834px; list-style-type: none; height: 23px }
.public_navi .navi_part .n_main2 li { padding-right: 12px; display: block; padding-left: 12px; background: url(../images/bj_line.gif) no-repeat right 6px; float: left; padding-bottom: 0px; padding-top: 6px; height: 12px }
.public_navi .navi_part .n_main2 .navi2_left { padding-right: 0px; padding-left: 0px; background: none transparent scroll repeat 0% 0%; padding-bottom: 0px; width: 39px; padding-top: 0px; height: 23px }
.public_navi .navi_part .n_main2 .navi2_right { padding-right: 0px; background: none transparent scroll repeat 0% 0% }
.public_navi .navi_part .n_main2 a:link { color: #414141; text-decoration: none }
.public_navi .navi_part .n_main2 a:visited { color: #414141; text-decoration: none }
.public_navi .navi_part .n_main2 a:hover { color: #ff7000; text-decoration: underline }
.public_navi .navi_part .n_main2 a:active { color: #bc2931; text-decoration: underline }
.public_top_window { border-right: #b39f86 1px solid; padding-right: 28px; border-top: #b39f86 1px solid; padding-left: 28px; padding-bottom: 3px; border-left: #b39f86 1px solid; width: 608px; padding-top: 3px; border-bottom: #b39f86 1px solid; height: 154px; background-color: #fff }
.public_top_window a:link { color: #0041d3; text-decoration: none }
.public_top_window a:visited { color: #0041d3; text-decoration: none }
.public_top_window a:hover { color: #ff7000; text-decoration: underline }
.public_top_window a:active { color: #bc2931; text-decoration: underline }
.public_top_window * { padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px }
.public_top_window ul { padding-right: 0px; padding-left: 0px; padding-bottom: 10px; width: 608px; padding-top: 10px; border-bottom: #d1cfd0 1px dotted; list-style-type: none }
.public_top_window ul li { display: block; float: left; width: 66px; line-height: 20px }
.public_top_window ul h2 { font-weight: normal; font-size: 12px; float: left; width: 52px; margin-right: 14px; padding-top: 3px; height: 16px; background-color: #f6791f; text-align: center }
.public_top_window ul h2 a:link { color: #fff; text-decoration: none }
.public_top_window ul h2 a:visited { color: #fff; text-decoration: none }
.public_top_window ul h2 a:hover { color: #fff; text-decoration: underline }
.public_top_window ul .h_bj { background-color: #00a881 }
.public_top_window ul .reduce_w { width: 58px }
.public_top_window ul .reduce_w2 { width: 40px }
.public_top_window ul .reduce1_w { width: 28px }
.public_top_window .reduce_h { padding-bottom: 5px; height: 20px }
.public_top_window .reduce_h3 { padding-bottom: 5px; height: 35px }
.public_top_window .reduce_h2 { padding-bottom: 10px; border-top-style: none; border-right-style: none; border-left-style: none; height: 35px; border-bottom-style: none }
