{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="{% block keyswords %}商城{% endblock keyswords %}">
    <style>
        *  {margin: 0;
        padding: 0;
    }
    </style>
    <title>{% block title %}title{% endblock title %}</title>
</head>
<body>
<header>
  <div class="one">
        <img src="/static/image/logo.png" class="logo">
        <form action="" class="search">
            <input type="text" value="" style="width: 180px;height: 30px; text-align: center;margin-left: 360px;"><button><submit>搜索</submit></button>
            <input type="hidden" value="">
        </form>
           {% block headers %}
        {% endblock %}
    </div>

<header>
</header>
{% include "header.html" %}

</header>
{% block body %}
{% endblock body %}

</body>
</html>