{% extends "base.html" %}
{% block title %}首页{% endblock title %}

{% block headers %}
        {% if user.is_authenticated %}
            <a href="/logout/">退出</a>
            <a href="/usercenter/">用户中心</a>
            <a href="/usercenter/"></a>
        {% else %}
                <a href="/login/">登陆</a>
        {% endif %}

{% endblock %}
{% block body %}
     <style>
    .list {

        margin-left: 162px;
    }
        .list li{
            border:1px solid  #999999 ;
            list-style-type: none;

            float:left ;
        }
     .header{
         margin-top:10px;
     }
    </style>

    <div>
        <img src="/static/image/datu.jpg" style="margin-left:250px">
    </div>
    <div>
        <img src="/static/image/gg.jpg">
    </div>
    <div class="list">
        <p>猜你喜欢</p>
        <ul>
            {% for im in img %}
            <li><img src="/static/image/img/270/{{ im }}"></li>
            {% endfor %}
        </ul>
    </div>
{% endblock body %}